.login{
    height:100vh;
    background-image:linear-gradient(to right, #f3d00a, #6f50dd, rgba(255, 0, 0, 0.657));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
}

.innerDiv {
    font-family: serif;
    text-align: center;
    background-color:rgba(0, 128, 0, 0.518);
    border-color: black;
    border: 3px solid;
    border-radius: 30px;
    padding: 5px;
}

img{
    height:300px;
}